{% extends "template_index.html" %}
{% block title %}Add new friend {{super()}}{% endblock %}  
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
            <h1 class="panel-title">Add new friend - at new blueprint folder</h1>
            </div>
            <div class="panel-body my_panel-body">
                <form action="/app/addfriend" method="POST" enctype="multipart/form-data">
                    {{form.csrf_token}}
                    <div class="form-group">
                    {{form.name.label}}
                    {{form.name(class='form-control',id='name')}}
                    </div>
                    <div class="form-group">
                    {{form.address.label}}
                    {{form.address(class='form-control',id='address')}}
                    </div>
                    <div class="form-group">
                    {{form.age.label}}
                    {{form.age(class='form-control')}}
                    </div>
                    <div class="form-group">
                    {{form.upload_file.label}}
                    {{form.upload_file()}}
                    </div>                    
                    <div class="form-group">
                    {{form.submit(class='btn btn-primary')}}
                    <a href="/friends" class="btn btn-default">Cancel</a>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end of column -->
    </div>
    </div>    
        
{% endblock %}
