{% extends "template_index.html" %}
{% block title %}Friends {{super()}}{% endblock %}  
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-md-push-2">
        <div class="well">
        <h1>Your friends</h1>
            
            <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Age</th>                    
                </tr>
            </thead>
            <tbody>
                {% for item in friends %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.age }}</td>                    
                </tr>
                {% endfor %}
            </tbody>
            </table>
            
            
        </div>
    </div>
    <!-- end of column -->
    </div>
    </div>    
        
{% endblock %}